//========== О НАС ==========
section.about.p-130#about
	.decor-number #[span 07.]
	.container 
		.about-content 
			.about-content__left
				.about-title
					h2.title-2 Работаем с&nbsp;2014&nbsp;года
				.modal-btn.visible-desk 
					button.button.button--color Оставить заявку 
			.about-content__right
				.about-info
					p #[span.text-blue.text-bold ООО "Профессиональный стандарт"] - компания, предлагающая услуги по аттестации, сертификации, профессиональной переподготовке, повышению квалификации и присвоению рабочих профессий. Мы обеспечиваем успешное повышение квалификации для всех работников с гарантированной выдачей удостоверения установленного образца. Самое главное, что всё обучение происходит дистанционно, без отрыва от производства и в срок!
				.about-statistic 
					.statistic-item
						p 3500 +
						span Человек обучено
					.statistic-item
						p 250 +
						span Организаций с нами сотрудничало 
					.statistic-item
						p 127
						span Филиалов в городах страны
				.modal-btn.visible-mob
					button.button.button--color Оставить заявку  