section.benefits 
	.container 
		.benefits-title 
			h2.title-2 Ваши ключевые преимущества
		.flex-wrapper.benefits-wrapper
			+benefitCrad('ben1', 'Работаем без предоплаты.', 'Оплата производится только после оформления.')
			+benefitCrad('ben1', 'Работаем без предоплаты.', 'Оплата производится только после оформления.')
			+benefitCrad('ben1', 'Работаем без предоплаты.', 'Оплата производится только после оформления.')
	.sta.overlay-block 
		.container 
			p Остерегайтесь мошенников при заказе удостоверений. Пользуйтесь услугами официальных учебных центров.