section.benefits#benefits
	.decor-number #[span 03.]
	.container 
		.benefits-title 
			h2.title-2 Ваши ключевые преимущества
		.flex-wrapper.benefits-wrapper
			+benefitCrad2(68,'benef2', 'Работаем без предоплаты.', 'Оплата производится только после оформления.')
			+benefitCrad2(67, 'benef1', 'Работаем без предоплаты.', 'Оплата производится только после оформления.')
			+benefitCrad2(56, 'benef3', 'Работаем без предоплаты.', 'Оплата производится только после оформления.')
	.sta.overlay-block 
		.container 
			p Остерегайтесь мошенников при заказе удостоверений. Пользуйтесь услугами официальных учебных центров.