//========== ПРЕИМУЩЕСТВА ==========
section.benefits.pt-130#benefits
	.decor-number #[span 03.]
	.container 
		.benefits-title.section-title 
			h2.title-2 Ваши ключевые преимущества
		.flex-wrapper.benefits-wrapper.pb-130
			+benefitCrad2(68,'benef2', 'Работаем без предоплаты.', 'Оплата производится только после оформления.')
			+benefitCrad2(67, 'benef1', 'Минимальные сроки обучения.', 'Вы освоите выбранную специальность за 2 рабочих дня.')
			+benefitCrad2(56, 'benef3', 'Наши документы сертифицированы', 'а также обладают всеми необходимыми аккредитациями.')
	.sta.overlay-block 
		.container 
			p Остерегайтесь мошенников при заказе удостоверений. Пользуйтесь услугами официальных учебных центров.