//========== ВЗАИМОДЕЙСТВИЕ  ==========
section.results.p-130#connect
	.decor-number #[span 06.]
	.container
		.results-content 
			.results-img
				img(src="img/innerImg/connect.png", width="655" alt="img")
			.results-text 
				.results-title.section-title 
					h2.title-2 Взаимодействия с&nbsp;предприятиями
				.text-block
					p У нас заключены договора с более чем 300 организациями на предмет прохождения практики и официального трудоустройства наших учеников
					p Вы можете скачать нашу базу работодателей по ссылке ниже:
				button.button.button--color.mt-44(data-target="modal" data-modal="modal-form") Оставить заявку