footer.footer 
	.container.footer-content
		.footer-top
			ul.contacts-list 
				li 
					.contact-icon 
						img(src="img/icons/phone.png", width="41" alt="icon")
					a.text-26.nowrap-text(href="tel:88007758105") 8 (800) 775-81-05
						
				li 
					.contact-icon
						img(src="img/icons/map.png", width="37" alt="icon")
					a.text-26(href="https://goo.gl/maps/UTyBMEorUPpeqZiD9" target="_blank") Россия, Москва, Мишина улица, 56

						
				li 
					.contact-icon
						img(src="img/icons/envelop.png", width="42" alt="icon") 
					a.text-26.nowrap-text(href="mailto:info@dpo-standart.ru") info@dpo-standart.ru
		.footer-nav
			nav
				a(href="#!") Услуги
				a(href="#иутуашеы") Преимущества
				a(href="#docs") Лицензии
			nav
				a(href="#!") Наши проекты
				a(href="#results") Документы об окончании
				a(href="#specialties") Специальности