//========== ШАПКА ==========
header.header.overlay-block
	.header-menu
		.container
			+headerNav([
				{link: '#programms', text: 'Наши программы'},
				{link: '#benefits', text: 'Преимущества'},
				{link: '#about', text: 'О нас'},
				{link: '#docs', text: 'Лицензии'},
				{link: '#specialties', text: 'Специальности'},
				{link: '#results', text: 'Документы по окончании'}
			])
	.menu-toggle
		span
	// header-content
	.header-center
		.container
			.header-center__wrapper 
				.header-center__text 
					h1.title-1 Дистанционное<br> обучение рабочим<br> специальностям
					p.subtitle.text-26 Более 300 профессий. На сайте указаны самые популярные.
				
					.form-wrapper
						form.contact-form
							p.form-title.text-26 Узнайте о выбранной вами специальности
							input(type="hidden" name="form_type" value="Форма из шапки сайта")
							.form-row.mt-44
								.form-item 
									input(type="text" placeholder="Имя" name="name" required)
								.form-item 
									input.phone(type="text" placeholder="Телефон" name="phone" required)
							.form-row.form-btn.mt-44 
								button(type="submit").button.button--light Оставить заявку
								a(href="#specialties").button.button--color Специальности
						.answer
				.header-center__img 
					img(src="img/home/men.png", alt="image")