header.header
	// header-menu
	//- .header-top 
	//- 	.container
	.header-menu 
		+headerNav([
			{link: '#', text: 'Наши программы'},
			{link: '#', text: 'Преимущества'},
			{link: '#', text: 'О нас'},
			{link: '#', text: 'Лицензии'},
			{link: '#', text: 'Специальности'},
			{link: '#', text: 'Документы по окончании'}
		])
	.menu-toggle
		span
	// header-content
	.header-center
		.container
			.header-center__wrapper 
				.header-center__text 
					h1.title-1 Дистанционное обучение рабочим специальностям
					p.subtitle.text-26 Более 300 профессий. На сайте указаны самые популярные.
				
					.form-wrapper 
						p.form-title.text-26 Узнайте о выбранной вами специальности
							
						form.contact-form.mt-44
							input(type="hidden" name="form_type" value="Форма из шапки сайта")
							.form-row
								.form-item 
									input(type="text" placeholder="Имя" name="name" required)
								.form-item 
									input(type="text" placeholder="Имя" name="name" required)
							.form-row.form-btn.mt-44 
								button(type="submit").button.button--light Оставить заявку
								a(href="#!").button.button--color Специальности
				.header-center__img 
					img(src="img/home/men.png", alt="image")

		//- h1.title-1 title-1
		//- a(href="#!").button.button--light Смотреть
		//- button.button.button--color Смотреть
		//- +list-icon([
		//- 	{mix: 'pr1', text1: 'Обучение рабочим специальностям', text2:'от 2900 рублей'},
		//- 	{mix: 'pr1', text1: 'Электробезопасность', text2:'от 4100 рублей'},
		//- 	{mix: 'pr1', text1: 'Профессиональная переподготовка', text2:'от 11400 рублей'},
		//- 	{mix: 'pr1', text1: 'Сертификация ISO', text2:'от 9400 рублей'},
		//- 	{mix: 'pr1', text1: 'Повышение квалификации', text2:'от 4000 рублей'},
		//- 	])
		//- .flex-wrapper.benefits-wrapper
		//- 	+benefitCrad('ben1', 'Работаем без предоплаты.', 'Оплата производится только после оформления.')
		//- 	+benefitCrad('ben1', 'Работаем без предоплаты.', 'Оплата производится только после оформления.')
		//- 	+benefitCrad('ben1', 'Работаем без предоплаты.', 'Оплата производится только после оформления.')
		