section#docs.docs.p-130 	
	.container 
		.docs-content 
			.docs-content-left 
				#doc-left-arr 111
				#doc-right-arr 222
				.sl-count
					span.sl-count__current 1
					|  из 
					span.sl-count__total
			.docs-content-right
				.docs-slider 
					.doc-item 
						.doc-item__img 
							img(src="img/slider/1.png", width="315" alt="img")
					.doc-item 
						.doc-item__img 
							img(src="img/slider/1.png", width="315" alt="img")
					.doc-item 
						.doc-item__img 
							img(src="img/slider/1.png",width="315"  alt="img")
					