section.pt-130.inner-programms
	.decor-number #[span 02.]
	.container.pb-130  
		.inner-programms-title 
			h2.title-2 Обучение от 2-го разряда и&nbsp;выше
		.inner-programms-content 
			.inner-programms-left
				.scroll-wrapper 
					.arrDown &darr;
					.programms-list.bull-list
						h3.title-3 Наши программы 
						+bullList([
							{link: 'onepage.html', text: 'Сварщик'},{link: '#', text: 'Повар'},
							{link: '#', text: 'Оператор'},{link: '#', text: 'Лаборант'},
							{link: '#', text: 'Сантехник'},{link: '#', text: 'Электрик'},
							{link: '#', text: 'Монтажник'},{link: '#', text: 'Слесарь'},
							{link: '#', text: 'Электромон&shy;тажник'},{link: '#', text: 'Составитель поездов'},
							{link: '#', text: 'Монтер путей'},{link: '#', text: 'Бетонщик'},
							{link: '#', text: 'Электромонтер'},{link: '#', text: 'Стропальщик'},
							{link: '#', text: 'Машинист крана'},{link: '#', text: 'Лифтер'},
							{link: '#', text: 'Машинист экскаватора'},{link: '#', text: 'Маляр'},
							{link: '#', text: 'Кочегар'},{link: '#', text: 'Изолировщик'},
							{link: '#', text: 'Бурильщик'},{link: '#', text: 'Дробильщик'}
								])
			.inner-programms-img
				img(src="img/innerImg/progr.png", width="665" alt="img")
	.sta.overlay-block
		.container 
			p Остерегайтесь мошенников при заказе удостоверений. Пользуйтесь услугами официальных учебных центров.