section.learning 
	.container 
		.learning-title 
			h2.title-2 Как проходит обучение
		.learning-content
			.learning-card 
				.learning-card__img
					img(src="img/home/learn1.png", width="340" alt="img") 
				.learning-card__text
					p Вы оставляете заявку по необходимой специальности у нашего менеджера
			.learning-card 
				.learning-card__img
					img(src="img/home/learn2.png", width="340" alt="img") 
				.learning-card__text
					p Мы составялем договор на оказание услуг после чего вы оплачиваете нужную сумму
			.learning-card 
				.learning-card__img
					img(src="img/home/learn3.png", width="340" alt="img") 
				.learning-card__text
					p Мы высылаем удобным вам способом все необходимые документы