.preference.overlay-block 
	.container
		.preference-content 
			h2.title-2.text-white Наши льготы
			p.cta-subtitle.text-24 Мы предоставляем льготы разным группам населения. Оставьте заявку и узнайте о нашей льготной программе больше
			form.contact-form.contact-form-horizontal
				.form-row
					.form-item 
						input(type="text" placeholder="Имя" name="name" required)
					.form-item 
						input.phone(type="text" placeholder="Телефон" name="phone" required)
					.form-item
						button(type="submit").button.button--color Оставить заявку
			.answer
			