//========== СПЕЦИАЛЬНОСТИ ==========
section.specialties#specialties.p-130
	.decor-number 
		span 08.
	.container 
		.specialties-content
			.specialties-title.section-title 
				h2.title-2 Специальности
			.bull-list.specialte-list
				+bullList([
					{link: 'cvarshik.html', text: 'Сварщик'},{link: 'povar.html', text: 'Повар'},
					{link: 'operator.html', text: 'Оператор'},{link: 'laborant.html', text: 'Лаборант'},
					{link: 'santechnik.html', text: 'Сантехник'},{link: 'elektrik.html', text: 'Электрик'},
					{link: 'montagnik.html', text: 'Монтажник'},{link: 'slesar.html', text: 'Слесарь'},
					{link: 'elmontagnik.html', text: 'Электромон&shy;тажник'},{link: 'sostavitel.html', text: 'Составитель поездов'},
					{link: 'monterputey.html', text: 'Монтер путей'},{link: 'betonshik.html', text: 'Бетонщик'},
					{link: 'elektromonter.html', text: 'Электромонтер'},{link: 'stropalshik.html', text: 'Стропальщик'},
					{link: 'mashinistkrana.html', text: 'Машинист крана'},{link: 'lifter.html', text: 'Лифтер'},
					{link: 'mashinistekckovatora.html', text: 'Машинист экскаватора'},{link: 'malyar.html', text: 'Маляр'},
					{link: 'kochegar.html', text: 'Кочегар'},{link: 'izolirovshik.html', text: 'Изолировщик'},
					{link: 'burilshik.html', text: 'Бурильщик'},{link: 'drobilshik.html', text: 'Дробильщик'}
				])