$sizes: ("md":767px, "lg":991px, "xl":1199px, "xxl": 1439px);
@mixin media($minmax, $media) {
	@each $size, $resolution in $sizes {
	  @if $media == $size {
		@media(#{$minmax}-width: $resolution) {
		  @content;
		}
	  }
	}
  }
// @include media("max", "xl"){
// 	.products-slider{
// 		width: 880px;
// 	}
// 	.products-slider .slider-wrapper{
// 		margin-left: 10px;
// 		margin-right: 10px;
// 	}
// }
$xs: '(max-width: 479px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1279px)';
$xl: '(max-width: 1364px)';

$ffr:  'Raleway', sans-serif;
$ffm: 'Montserrat', sans-serif;
// color
$blue: rgb(46, 127, 255) ;
$text: #3C3C3C;
$yellow:#FFD336 ;
$gam: rgb(46, 127, 255) ;