/*======== RESULTS HOME ========*/
.results{
	
}
.results-title{
	margin-bottom: 65px;
}
.results-content {
	display: flex;
	justify-content: space-between;
	@media(max-width:991px){
		flex-direction: column-reverse;
	}
}
.results-img{width: 49%;}
.results-text{
	width: 49%;
}
@media(max-width:991px){
	.results-img{
		width: 100%;
		max-width:500px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
	}
	.results-text{
		width: 100%;
	}
}
li .modal-link{
	display: inline-block;
	background-repeat: no-repeat;
	cursor:pointer;
		background-position: center bottom 2px;
		background-size: 100% 2px;
		// background-image: linear-gradient(to right, transparent, transparent);
		background-image: linear-gradient(to right, $yellow, $yellow);
			color: $blue;
		transition: .5s;
		&:hover{
			background-image: linear-gradient(to right, $yellow, $yellow);
			color: $blue;
			
		}
}