mixin docSlider(num)
	//========== СЛАЙДЕР  ЛИЦЕНЗИИ ==========
	section#docs.docs.pt-130
		.decor-number #[span #{num}.]	
		.container 
			.docs-content 
				.docs-title-mobile
					h2.title-2 Лицензии
				.docs-content-left 
					.docs-title
						h2.title-2 Лицензии
					.sl-controls
						.sl-arrow#doc-left
							+arrLeft
						
						.sl-count
							span
								span.sl-big 0
								span.sl-big.sl-count__current 1
							span /
							span
								span 0
								span.sl-count__total

						.sl-arrow#doc-right
							+arrRight
				.docs-content-right
					.docs-slider.popup-gallery.grad-block
						.doc-item
							a( href="img/slider/1.jpg") 
								img(src="img/slider/1.jpg", width="315" alt="img")
						.doc-item
							a( href="img/slider/2.jpg") 
								img(src="img/slider/2.jpg", width="315" alt="img")
						.doc-item
							a( href="img/slider/3.jpg") 
								img(src="img/slider/3.jpg",width="315"  alt="img")