mixin onePage(arg)
	+innerHeader(arg.img, arg.title)
	include ../sections/_inner-programs.pug
	+docSlider('03')
	+innerResults('04')
	+innerLearn('05')
		include ../sections/_preferance.pug
	include ../sections/_connect.pug
	+innerSpec('07')
	include ../sections/_footer
	include ../sections/_modal-form