extends ../layouts/layout.pug

block content
	+onePage2({img:'betonshik', title:'Получите удостоверение<br> бетонщика дистанционно!',prog:[
		'Бетонщик 2-ГО РАЗРЯДА',
		'Бетонщик 3-ГО РАЗРЯДА',
		'Бетонщик 4-ГО РАЗРЯДА',
		'Бетонщик 5-ГО РАЗРЯДА',	
		'Бетонщик 6-ГО РАЗРЯДА'
		]})
	
block variables
	-var title = "Бетонщик";