extends ../layouts/layout.pug

block content
	+onePage2({img:'burilshik', title:'Получите удостоверение<br> бурильщика дистанционно', prog:[
		'ПОМОЩНИК БУРИЛЬЩИКА',
		'БУРИЛЬЩИК ЭКСПЛУТАЦИОННОГО И РАЗВЕДОЧНОГО БУРЕНИЯ СКВАЖИН НА НЕФТЬ И ГАЗ',
		'БУРИЛЬЩИК КАПИТАЛЬНОГО РЕМОНТА СКВАЖИН',
		'БУРИЛЬЩИК ШПУРОВ',
		'ПОМОЩНИК БУРИЛЬЩИКА ЭКСПЛУАТАЦИОННОГО И РАЗВЕДОЧНОГО БУРЕНИЯ СКВАЖИН НА НЕФТЬ И ГАЗ (ПЕРВЫЙ)',
		'ПОМОЩНИК БУРИЛЬЩИКА ЭКСПЛУАТАЦИОННОГО И РАЗВЕДОЧНОГО БУРЕНИЯ СКВАЖИН НА НЕФТЬ И ГАЗ (ВТОРОЙ)',
		'ПОМОЩНИК БУРИЛЬЩИКА ЭКСПЛУАТАЦИОННОГО И РАЗВЕДОЧНОГО БУРЕНИЯ СКВАЖИН ПРИ ЭЛЕКТРОБУРЕНИИ',
		'БУРИЛЬЩИК КАПИТАЛЬНОГО РЕМОНТА СКВАЖИН',
		'БУРИЛЬЩИК ПЛАВУЧЕГО БУРИЛЬНОГО АГРЕГАТА В МОРЕ',
		'ПОМОЩНИК БУРИЛЬЩИКА КАПИТАЛЬНОГО РЕМОНТА СКВАЖИН',
		'ПОМОЩНИК БУРИЛЬЩИКА ПЛАВУЧЕГО БУРИЛЬНОГО АГРЕГАТА В МОРЕ'	]})
	
block variables
	-var title = "Бурильщик";