extends ../layouts/layout.pug

block content
	+onePage2({img:'svarshik', title:'Получите удостоверение<br> сварщика дистанционно', prog:['Электросварщик','Газоэлектросварщик','Электросварщик ручной сварки', 'Электросварщик-аргонщик', 'Газорезчик', 'Нагревальщик (сварщик) металла','СВАРЩИК АРМАТУРНЫХ СЕТОК И КАРКАСОВ', 'СВАРЩИК ИЗДЕЛИЙ ИЗ ТУГОПЛАВКИХ МЕТАЛЛОВ','СВАРЩИК АРМАТУРНЫХ СЕТОК И КАРКАСОВ','СВАРЩИК ИЗДЕЛИЙ ИЗ ТУГОПЛАВКИХ МЕТАЛЛОВ','СВАРЩИК НА ДИФФУЗИОННО-СВАРОЧНЫХ УСТАНОВКАХ','СВАРЩИК НА МАШИНАХ КОНТАКТНОЙ (ПРЕССОВОЙ) СВАРКИ','СВАРЩИК НА ЭЛЕКТРОННО-ЛУЧЕВЫХ СВАРОЧНЫХ УСТАНОВКАХ', 'СВАРЩИК ПЕЧНОЙ СВАРКИ ТРУБ', 'СВАРЩИК СТЕКЛЯННЫХ ИЗДЕЛИЙ','СВАРЩИК ТЕРМИТНОЙ СВАРКИ']})
block variables
	-var title = "Сварщик";