extends ../layouts/layout.pug

block content
	+onePage2({img:'drobilshik', title:'Получите удостоверение<br> дробильщика дистанционно', prog:[
		'ДРОБИЛЬЩИК 2-ГО РАЗРЯДА',
		'ДРОБИЛЬЩИК 3-ГО РАЗРЯДА',
		'ДРОБИЛЬЩИК 4-ГО РАЗРЯДА',
		'ДРОБИЛЬЩИК 5-ГО РАЗРЯДА',
		'ДРОБИЛЬЩИК 6-ГО РАЗРЯДА'	]})
	
block variables
	-var title = "Дробильщик";