extends ../layouts/layout.pug

block content
	+onePage2({img:'elmonter', title:'Получите удостоверение<br> электромонтера дистанционно', prog:[
		'ВЫШКОМОНТАЖНИК-ЭЛЕКТРОМОНТЕР',
		'МОНТЕР ПО ЗАЩИТЕ ПОДЗЕМНЫХ ТРУБОПРОВОДОВ ОТ КОРРОЗИИ',
		'ЭЛЕКТРОМОНТЕР КАНАЛИЗАЦИОННЫХ СООРУЖЕНИЙ СВЯЗИ',
		'ЭЛЕКТРОМОНТЕР ЛИНЕЙНЫХ СООРУЖЕНИЙ ТЕЛЕФОННОЙ СВЯЗИ И РАДИОФИКАЦИИ',
		'ЭЛЕКТРОМОНТЕР ОХРАННО-ПОЖАРНОЙ СИГНАЛИЗАЦИИ',
		'ЭЛЕКТРОМОНТЕР ПО ОБСЛУЖИВАНИЮ БУРОВЫХ УСТАНОВОК',
		'ЭЛЕКТРОМОНТЕР ПО ОБСЛУЖИВАНИЮ ЭЛЕКТРООБОРУДОВАНИЯ',
		'ЭЛЕКТРОМОНТЕР ПО ОБСЛУЖИВАНИЮ ЭЛЕКТРОУСТАНОВОК',
		'ЭЛЕКТРОМОНТЕР ПО РЕМОНТУ И ОБСЛУЖИВАНИЮ ЭЛЕКТРООБОРУДОВАНИЯ',
		'ЭЛЕКТРОМОНТЕР ПО РЕМОНТУ ЭЛЕКТРООБОРУДОВАНИЯ',
		'ЭЛЕКТРОМОНТЕР ПРИЕМНО-ПЕРЕДАЮЩЕЙ СТАНЦИИ СПУТНИКОВОЙ СВЯЗИ',
		'ЭЛЕКТРОМОНТЕР СТАНЦИОННОГО ОБОРУДОВАНИЯ РАДИОРЕЛЕЙНЫХ ЛИНИЙ СВЯЗИ',
		'ЭЛЕКТРОМОНТЕР СТАНЦИОННОГО ОБОРУДОВАНИЯ РАДИОФИКАЦИИ',
		'ЭЛЕКТРОМОНТЕР СТАНЦИОННОГО ОБОРУДОВАНИЯ ТЕЛЕГРАФНОЙ СВЯЗИ',
		'ЭЛЕКТРОМОНТЕР СТАНЦИОННОГО ОБОРУДОВАНИЯ ТЕЛЕФОННОЙ СВЯЗИ',
		'ЭЛЕКТРОМОНТЕР СТАНЦИОННОГО РАДИООБОРУДОВАНИЯ',
		'ЭЛЕКТРОМОНТЕР СТАНЦИОННОГО ТЕЛЕВИЗИОННОГО ОБОРУДОВАНИЯ',
		'ЭЛЕКТРОМОНТЕР-ЛИНЕЙЩИК ПО МОНТАЖУ ВОЗДУШНЫХ ЛИНИЙ ВЫСОКОГО НАПРЯЖЕНИЯ И КОНТАКТНОЙ СЕТИ'	]})
	
block variables
	-var title = "Электромонтер";