extends ../layouts/layout.pug

block content
	+onePage2({img:'elektrik', title:'Получите удостоверение<br> электрика дистанционно', prog:[
			'Электрик 2-ГО РАЗРЯДА',
			'Электрик 3-ГО РАЗРЯДА',
			'Электрик 4-ГО РАЗРЯДА',
			'Электрик 5-ГО РАЗРЯДА'
			]})
	
block variables
	-var title = "Электрик";