extends ../layouts/layout.pug

block content
	+onePage2({img:'elmontagnik', title:'Получите удостоверение<br> электромонтажника дистанционно', prog:[
		'КЕССОНЩИК-ЭЛЕКТРОМОНТАЖНИК',
		'СЛЕСАРЬ-ЭЛЕКТРОМОНТАЖНИК',
		'ЭЛЕКТРОМОНТАЖНИК ПО АККУМУЛЯТОРНЫМ БАТАРЕЯМ',
		'ЭЛЕКТРОМОНТАЖНИК ПО КАБЕЛЬНЫМ СЕТЯМ',
		'ЭЛЕКТРОМОНТАЖНИК ПО ОСВЕЩЕНИЮ И ОСВЕТИТЕЛЬНЫМ СЕТЯМ',
		'ЭЛЕКТРОМОНТАЖНИК ПО РАСПРЕДЕЛИТЕЛЬНЫМ УСТРОЙСТВАМ И ВТОРИЧНЫМ ЦЕПЯМ',
		'ЭЛЕКТРОМОНТАЖНИК ПО СИГНАЛИЗАЦИИ, ЦЕНТРАЛИЗАЦИИ И БЛОКИРОВКЕ',
		'ЭЛЕКТРОМОНТАЖНИК ПО СИЛОВЫМ СЕТЯМ И ЭЛЕКТРООБОРУДОВАНИЮ',
		'ЭЛЕКТРОМОНТАЖНИК ПО ЭЛЕКТРИЧЕСКИМ МАШИНАМ',
		'ЭЛЕКТРОМОНТАЖНИК-НАЛАДЧИК'	]})
	
block variables
	-var title = "Электромонтажник";