extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_home-programms.pug
	include ../sections/_benefits.pug
	include ../sections/_home-slider.pug
	include ../sections/_learning.pug
	include ../sections/_results.pug
	include ../sections/_about.pug
	include ../sections/_specialties
	include ../sections/_footer
	
block variables
	-var title = "Page";
