extends ../layouts/layout.pug

block content
	+onePage2({img:'laborant', title:'Получите удостоверение<br> лаборанта дистанционно', prog:[
			'ЛАБОРАНТ 2-ГО РАЗРЯДА',
			'ЛАБОРАНТ 3-ГО РАЗРЯДА',
			'ЛАБОРАНТ 4-ГО РАЗРЯДА'
				]})
	
block variables
	-var title = "Лаборант";