extends ../layouts/layout.pug

block content
	+onePage2({img:'lifter', title:'Получите удостоверение<br> лифтера дистанционно', prog:['ЛИФТЕР 2-ГО РАЗРЯДА', 'ЛИФТЕР 3-ГО РАЗРЯДА']})
	
block variables
	-var title = "Лифтер";