extends ../layouts/layout.pug

block content
	+onePage2({img:'malyar', title:'Получите удостоверение<br> маляра дистанционно', prog:[
		'МАЛЯР 1-ГО РАЗРЯДА',
		'МАЛЯР 2-ГО РАЗРЯДА',
		'МАЛЯР 3-ГО РАЗРЯДА',
		'МАЛЯР 4-ГО РАЗРЯДА',
		'МАЛЯР 5-ГО РАЗРЯДА',
		'МАЛЯР 6-ГО РАЗРЯДА'	]})
	
block variables
	-var title = "Маляр";