extends ../layouts/layout.pug

block content
	+onePage2({img:'mashinist', title:'Получите удостоверение<br> машинист крана дистанционно', prog:[
		'МАШИНИСТ КРАНА (КРАНОВЩИК)',
		'МАШИНИСТ КРАНА МОСТОВОГО',
		'МАШИНИСТ КРАНА КОЗЛОВОГО',
		'МАШИНИСТ КРАНА БАШЕННОГО',
		'МАШИНИСТ КРАНА АВТОМОБИЛЬНОГО',
		'МАШИНИСТ КРАНА ЖЕЛЕЗНОДОРОЖНОГО',
		'МАШИНИСТ КРАНА-МАНИПУЛЯТОРА',
		'МАШИНИСТ ПОДЪЕМНИКА И ВЫШКИ'	]})
	
block variables
	-var title = "Машинист крана";