extends ../layouts/layout.pug

block content
	+onePage2({img:'ekckovator', title:'Получите удостоверение<br> машинист эксковатора дистанционно', prog:[
		'МАШИНИСТ ЭКСКАВАТОРА 4-ГО РАЗРЯДА',
		'МАШИНИСТ ЭКСКАВАТОРА 5-ГО РАЗРЯДА',
		'МАШИНИСТ ЭКСКАВАТОРА 6-ГО РАЗРЯДА',
		'МАШИНИСТ ЭКСКАВАТОРА 7-ГО РАЗРЯДА',
		'МАШИНИСТ ЭКСКАВАТОРА 8-ГО РАЗРЯДА'	]})
	
block variables
	-var title = "Машинист эксковатора";