extends ../layouts/layout.pug

block content
	+onePage({img:'ekckovator', title:'Получите удостоверение<br> машинист эксковатора дистанционно'})
	
block variables
	-var title = "Машинист эксковатора";