extends ../layouts/layout.pug

block content
	+onePage2({img:'monter', title:'Получите удостоверение<br> монтера путей дистанционно', prog:[
		'МОНТЕР ПУТИ 2-ГО РАЗРЯДА',
		'МОНТЕР ПУТИ 3-ГО РАЗРЯДА',
		'МОНТЕР ПУТИ 4-ГО РАЗРЯДА',
		'МОНТЕР ПУТИ 5-ГО РАЗРЯДА',	
		'МОНТЕР ПУТИ 6-ГО РАЗРЯДА'	]})
block variables
	-var title = "Монтер путей";