extends ../layouts/layout.pug

block content
	+onePage2({img:'montagnik', title:'Получите удостоверение<br> монтажника дистанционно', prog:[
			'МОНТАЖНИК ПО МОНТАЖУ СТАЛЬНЫХ И ЖЕЛЕЗОБЕТОННЫХ КОНСТРУКЦИЙ'
			'МОНТАЖНИК ТЕХНОЛОГИЧЕСКИХ ТРУБОПРОВОДОВ',
			'МОНТАЖНИК СЛАБОТОЧНЫХ СИСТЕМ',
			'МОНТАЖНИК СИСТЕМ ВЕНТИЛЯЦИИ',
			'МОНТАЖНИК ГИДРОАГРЕГАТОВ',
			'МОНТАЖНИК ДРОБИЛЬНО-РАЗМОЛЬНОГО ОБОРУДОВАНИЯ И ОБОРУДОВАНИЯ ДЛЯ СОРТИРОВКИ И ОБОГАЩЕНИЯ',
			'МОНТАЖНИК КАРКАСНО-ОБШИВНЫХ КОНСТРУКЦИЙ',
			'МОНТАЖНИК МИКРОПРОЦЕССОРНОЙ И ВОЛОКОННО-ОПТИЧЕСКОЙ ТЕХНИКИ',
			'МОНТАЖНИК НАРУЖНЫХ ТРУБОПРОВОДОВ',
			'МОНТАЖНИК ОБОРУДОВАНИЯ АТОМНЫХ ЭЛЕКТРИЧЕСКИХ СТАНЦИЙ',
			'МОНТАЖНИК ОБОРУДОВАНИЯ БЛОКИРОВКИ И ЦЕНТРАЛИЗАЦИИ',
			'МОНТАЖНИК ОБОРУДОВАНИЯ КОКСОХИМИЧЕСКИХ ПРОИЗВОДСТВ',
			'МОНТАЖНИК ОБОРУДОВАНИЯ МЕТАЛЛУРГИЧЕСКИХ ЗАВОДОВ',
			'МОНТАЖНИК ОБОРУДОВАНИЯ СВЯЗИ',
			'МОНТАЖНИК ОБОРУДОВАНИЯ СОРТИРОВОЧНЫХ ГОРОК',
			'МОНТАЖНИК ПРИБОРОВ И АППАРАТУРЫ АВТОМАТИЧЕСКОГО КОНТРОЛЯ, РЕГУЛИРОВАНИЯ И УПРАВЛЕНИЯ',
			'МОНТАЖНИК САНИТАРНО-ТЕХНИЧЕСКИХ СИСТЕМ И ОБОРУДОВАНИЯ',
			'МОНТАЖНИК СВЯЗИ - АНТЕНЩИК',
			'МОНТАЖНИК СВЯЗИ - КАБЕЛЬЩИК',
			'МОНТАЖНИК СВЯЗИ - ЛИНЕЙЩИК',
			'МОНТАЖНИК СВЯЗИ - СПАЙЩИК',
			'МОНТАЖНИК СЕЛЬСКОХОЗЯЙСТВЕННОГО ОБОРУДОВАНИЯ',
			'МОНТАЖНИК КОНДИЦИОНИРОВАНИЯ ВОЗДУХА, ПНЕВМОТРАНСПОРТА И АСПИРАЦИИ',
			'МОНТАЖНИК СТРОИТЕЛЬНЫХ МАШИН И МЕХАНИЗМОВ',
			'МОНТАЖНИК ТЕХНОЛОГИЧЕСКОГО ОБОРУДОВАНИЯ И СВЯЗАННЫХ С НИМ КОНСТРУКЦИЙ',
			'МОНТАЖНИК ТЕХНОЛОГИЧЕСКИХ ТРУБОПРОВОДОВ',
			'МОНТАЖНИК ТУРБОУСТАНОВОК',
			'МОНТАЖНИК ШАХТНОГО ОБОРУДОВАНИЯ НА ПОВЕРХНОСТИ',
			'МОНТАЖНИК ЭЛЕКТРИЧЕСКИХ ПОДЪЕМНИКОВ (ЛИФТОВ)']})
	
block variables
	-var title = "Монтажник";