extends ../layouts/layout.pug

block content
	+onePage({img:1, title:'Получите удостоверение<br> электрика дистанционно'})
	//- +innerHeader(1, 'Получите удостоверение<br> электрика дистанционно')
	//- include ../sections/_inner-programs.pug
	//- +docSlider('03')
	//- +innerResults('04')
	//- +innerLearn('05')
	//- 	include ../sections/_preferance.pug
	//- include ../sections/_connect.pug
	//- +innerSpec('07')
	//- include ../sections/_footer
	//- include ../sections/_modal-form
	
block variables
	-var title = "Page";