extends ../layouts/layout.pug

block content
	+onePage2({img:'operator', title:'Получите удостоверение<br> оператора дистанционно', prog:[	'ОПЕРАТОР ЧПУ',
	'ОПЕРАТОР КОТЕЛЬНОЙ',
	'ОПЕРАТОР СПЕЦВОДООЧИСТКИ',
	'ОПЕРАТОР ТЕПЛОВЫХ СЕТЕЙ',
	'ОПЕРАТОР ТРАНСПОРТНО-ТЕХНОЛОГИЧЕСКОГО ОБОРУДОВАНИЯ РЕАКТОРНОГО ОТДЕЛЕНИЯ',
	'ОПЕРАТОР АВТОМАТИЧЕСКИХ И ПОЛУАВТОМАТИЧЕСКИХ ЛИНИЙ ХОЛОДНОШТАМПОВОЧНОГО ОБОРУДОВАНИЯ',
	'ОПЕРАТОР АВТОМАТИЧЕСКИХ И ПОЛУАВТОМАТИЧЕСКИХ ЛИНИЙ СТАНКОВ И УСТАНОВОК',
	'ОПЕРАТОР АВТОМАТИЗИРОВАННОГО ЛЕСОТРАНСПОРТЕРА',
	'ОПЕРАТОР АВТОМАТИЗИРОВАННОЙ ЛИНИИ ТЕПЛОИЗОЛЯЦИИ ТРУБ'
	]})
	
block variables
	-var title = "Оператор";