extends ../layouts/layout.pug

block content
	+onePage2({img:'povar', title:'Получите удостоверение<br> повара дистанционно', prog:['ПОВАР 2-ГО РАЗРЯДА','ПОВАР 3-ГО РАЗРЯДА','ПОВАР 4-ГО РАЗРЯДА', 'ПОВАР 5-ГО РАЗРЯДА', 'ПОВАР 6-ГО РАЗРЯДА']})
	
block variables
	-var title = "Повар";