extends ../layouts/layout.pug

block content
	+onePage2({img:'santechnik', title:'Получите удостоверение<br> сантехника дистанционно', prog:[
			'Сантехник 2-ГО РАЗРЯДА',
			'Сантехник 3-ГО РАЗРЯДА',
			'Сантехник 4-ГО РАЗРЯДА',
			'Сантехник 5-ГО РАЗРЯДА'
			]})
	
block variables
	-var title = "Сантехник";