extends ../layouts/layout.pug

block content
	+onePage2({img:'slesar', title:'Получите удостоверение<br> слесаря дистанционно', prog:[
		"СЛЕСАРЬ КИПИА",
		"СЛЕСАРЬ САНТЕХНИК",
		"СЛЕСАРЬ ПО ЭКСПЛУАТАЦИИ И РЕМОНТУ ГАЗОВОГО ОБОРУДОВАНИЯ",
		"СЛЕСАРЬ ПО РЕМОНТУ АВТОМОБИЛЕЙ (АВТОСЛЕСАРЬ)СЛЕСАРЬ",
		"СЛЕСАРЬ ПО РЕМОНТУ И ОБСЛУЖИВАНИЮ СИСТЕМ ВЕНТИЛЯЦИИ И КОНДИЦИОНИРОВАНИЯ",
		"КЕССОНЩИК-СЛЕСАРЬ",
		"СЛЕСАРЬ АВАРИЙНО-ВОССТАНОВИТЕЛЬНЫХ РАБОТ",
		"СЛЕСАРЬ АВАРИЙНО-ВОССТАНОВИТЕЛЬНЫХ РАБОТ В ГАЗОВОМ ХОЗЯЙСТВЕ",
		"СЛЕСАРЬ МЕХАНОСБОРОЧНЫХ РАБОТ",
		"СЛЕСАРЬ ПО ВЫВОДАМ И ОБМОТКАМ ЭЛЕКТРИЧЕСКИХ МАШИН",
		"СЛЕСАРЬ ПО ИЗГОТОВЛЕНИЮ ДЕТАЛЕЙ И УЗЛОВ СИСТЕМ ВЕНТИЛЯЦИИ, КОНДИЦИОНИРОВАНИЯ ВОЗДУХА, ПНЕВМОТРАНСПОРТА И АСПИРАЦИИ",
		"СЛЕСАРЬ ПО ИЗГОТОВЛЕНИЮ УЗЛОВ И ДЕТАЛЕЙ ТЕХНОЛОГИЧЕСКИХ ТРУБОПРОВОДОВ",
		"СЛЕСАРЬ ПО КОНТРОЛЬНО-ИЗМЕРИТЕЛЬНЫМ ПРИБОРАМ И АВТОМАТИКЕ",
		"СЛЕСАРЬ ПО МОНТАЖУ И РЕМОНТУ ОСНОВАНИЙ МОРСКИХ БУРОВЫХ И ЭСТАКАД",
		"СЛЕСАРЬ ПО ОБСЛУЖИВАНИЮ БУРОВЫХ",
		"СЛЕСАРЬ ПО ОБСЛУЖИВАНИЮ И РЕМОНТУ ОБОРУДОВАНИЯ",
		"СЛЕСАРЬ ПО РЕМОНТУ ДОРОЖНО-СТРОИТЕЛЬНЫХ МАШИН И ТРАКТОРОВ",
		"СЛЕСАРЬ ПО РЕМОНТУ И ОБСЛУЖИВАНИЮ ПЕРЕГРУЗОЧНЫХ МАШИН",
		"СЛЕСАРЬ ПО РЕМОНТУ ЛЕСОЗАГОТОВИТЕЛЬНОГО ОБОРУДОВАНИЯ",
		"СЛЕСАРЬ ПО РЕМОНТУ ПОДВИЖНОГО СОСТАВА",
		"СЛЕСАРЬ ПО РЕМОНТУ ПУТЕВЫХ МАШИН И МЕХАНИЗМОВ",
		"СЛЕСАРЬ ПО РЕМОНТУ СЕЛЬСКОХОЗЯЙСТВЕННЫХ МАШИН И ОБОРУДОВАНИЯ",
		"СЛЕСАРЬ ПО РЕМОНТУ ТЕХНОЛОГИЧЕСКИХ УСТАНОВОК",
		"СЛЕСАРЬ ПО СБОРКЕ МЕТАЛЛОКОНСТРУКЦИЙ",
		"СЛЕСАРЬ ПО ТАКЕЛАЖУ И ГРУЗОЗАХВАТНЫМ ПРИСПОСОБЛЕНИЯМ",
		"СЛЕСАРЬ ПО ТОПЛИВНОЙ АППАРАТУРЕ",
		"СЛЕСАРЬ ПО ЭКСПЛУАТАЦИИ И РЕМОНТУ ПОДЗЕМНЫХ ГАЗОПРОВОДОВ",
		"СЛЕСАРЬ СИСТЕМЫ ИСПАРИТЕЛЬНОГО ОХЛАЖДЕНИЯ",
		"СЛЕСАРЬ СТРОИТЕЛЬНЫЙ",
		"СЛЕСАРЬ ЦЕНТРАЛИЗОВАННОЙ СМАЗОЧНОЙ СТАНЦИИ",
		"СЛЕСАРЬ-ИНСТРУМЕНТАЛЬЩИК",
		"СЛЕСАРЬ-ПРОВОДЧИК",
		"СЛЕСАРЬ-РЕМОНТНИК",
		"СЛЕСАРЬ-ЭЛЕКТРИК ПО РЕМОНТУ ЭЛЕКТРООБОРУДОВАНИЯ",
		"СЛЕСАРЬ-ЭЛЕКТРОМОНТАЖНИК",
		"ЭЛЕКТРОСЛЕСАРЬ ПО ОБСЛУЖИВАНИЮ И РЕМОНТУ ОБОРУДОВАНИЯ",
		"ЭЛЕКТРОСЛЕСАРЬ ПО РЕМОНТУ ОБОРУДОВАНИЯ НЕФТЕБАЗ",
		"ЭЛЕКТРОСЛЕСАРЬ ПОДЗЕМНЫЙ",
		"ЭЛЕКТРОСЛЕСАРЬ СТРОИТЕЛЬНЫЙ",
		"ЭЛЕКТРОСЛЕСАРЬ-КОНТАКТЧИК"	
		]})
	
block variables
	-var title = "Слесарь";