extends ../layouts/layout.pug

block content
	+onePage2({img:'sostavitel', title:'Получите удостоверение<br> составителя путей дистанционно', prog:[
		'СОСТАВИТЕЛЬ ПОЕЗДОВ 2-ГО РАЗРЯДА',
		'СОСТАВИТЕЛЬ ПОЕЗДОВ 3-ГО РАЗРЯДА',
		'СОСТАВИТЕЛЬ ПОЕЗДОВ 4-ГО РАЗРЯДА',
		'СОСТАВИТЕЛЬ ПОЕЗДОВ 5-ГО РАЗРЯДА'	]})
	
block variables
	-var title = "Составитель путей";