/*===========GAMBURGER ============*/
.menu-toggle {
	display: none;
	z-index: 100;
	cursor:pointer;
	width: 40px;
	height: 35px;
	border:3px solid $yellow;
	position: relative;
	// margin-left: 40px;
	@media(max-width:1199px) {
		display: flex;

	}

	span {
		position: relative;
		display: block;
		margin: auto;
		width: 25px;
		height: 2px;
		background-color: $gam;
		transition: .3s;
		
	}

	span:after,
	span:before {
		content: '';
		position: absolute;
		left: 0;
		height: 2px;
		background-color: $gam;
		right: 0;
		transition: top .3s, transform .5s;
	}

	span:after {
		top: -8px;
		transition: top .3s, transform .5s;
	}

	span:before {
		bottom: -8px;
		transition: bottom .3s, transform .5s;
	}
}
.menu-toggle.active {
	span {
		background-color: transparent;
	}

	span:after {
		top: 0px;
		transform: rotate(45deg);
		background-color: $gam;
	}

	span:before {
		bottom: 0px;
		transform: rotate(-45deg);
		background-color: $gam;
	}
}
/*===========END GAMBURGER ============*/