/*======== UI-LIST ========*/
.list-item {
	display: flex;
	.list-item__icon{
		flex-shrink: 0;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background-color: $blue;
		display: flex;
		justify-content: center;
		align-items:center;
		border:1px solid transparent;
		@media(max-width: 991px){
			width: 62px;
			height: 62px;
			img{
				transform: scale(0.7);
			 }
		}
		@media(max-width: 479px){
			width: 52px;
			height: 52px;
			
		}
	}
	.list-item__text{
		margin-left: 28px;
		p{
			line-height: 1.45;
			font-feature-settings: 'pnum' on, 'lnum' on;
		}
		p:first-child{
			font-weight: 700;
			color: $blue;
			font-size: 25px;
			@media(max-width: 1199px){
				font-size: 22px;
			}
			@media(max-width: 767px){
				font-size: 18px;
			}
		}
		@media(max-width: 1199px){
			margin-left: 20px;
		}
		@media(max-width: 767px){
			margin-left: 18px;
		}
	}
}
.list-item +.list-item{
	margin-top: 28px;
}
/*bullit list*/
.bull-list ul{
	li{
		position: relative;
		font-weight: 500;
		line-height: 1.45;
		padding-left: 30px;
		color: $blue;
		@media#{$xs}{
			padding-left: 0;
		}
		&+li{
			margin-top: 24px;
		}

	}
	li:after{
		content:'';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 10px;
		height: 10px;
		background-color: $blue;
		border-radius: 50%;
		@media#{$xs}{
			display: none;
		}
	}
}
.programms-list.bull-list li{
	
	color: $text;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	letter-spacing: -0.01em;
	@media#{$xl}{
		font-size: 20px;
	}
	@media#{$sm}{
		font-size: 18px;
	}
	@media#{$xs}{
		font-size: 16px;
	}
}